#feed {
  padding: 0 5px;
}

  #feed .newpost {
    text-align: center;
    border-bottom: 10px solid #fff;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
  }

  #feed input {
    width: 100%;
    padding: 10px;
  }

  #feed .post {
    padding: 5px 0;
  }

    #feed .post img {
      max-width: 100%;
    }
