#profile {

}

  #profile h3 {
    padding: 10px 0;
  }

  #profile .img {
    display: block;
    text-align: center;
  }
    #profile .img img {
      border-radius: 50%;
      max-width: 100%;
    }
  #profile .log-out {
    margin-top: 20px;
  }
  #profile .profile-picture {
    margin-bottom: 20px;
  }
