#profile {

}

  #profile h3 {
    padding: 10px 0;
  }

  #profile .img {
    display: block;
    text-align: center;
  }
    #profile .img img {
      border-radius: 50%;
      width: 100px;
    }

  #profile .profile-picture {
    margin-bottom: 20px;
  }

  #profile .functionalities {
    margin: 20px 0 20px 0;
    text-align: center;
  }

  #profile .functionalities .button {
    display: inline-block;
    width: 47%;
    margin: 5px;
  }
