#testimonies {
  padding: 0 5px;
}

  #testimonies .validate-testimony, #testimonies .delete-testimony {
    cursor: pointer;
  }

  #testimonies .form {
    /*background: #45b690;*/
    padding: 5px;
    margin: 5px 0;
    color: #FA5456;
  }
    #testimonies .form .intro {
      color: #999;
    }

  #testimonies .testimony {
    background: #fff;
    padding: 5px;
    margin: 10px 0px;
  }
    #testimonies .testimony .txt {
      position: relative;
      text-indent: 20px;
      text-align: justify;
      padding: 15px 0 10px 0;
    }
      #testimonies .testimony .txt:before {
        content: '“';
        font-size: 3em;
        position: absolute;
        left: -20px;
        top: -7px;
        color: #bbb;
        font-weight: 400;
      }
      #testimonies .testimony .txt:after {
        content: '”';
        font-size: 3em;
        position: absolute;
        right: 0px;
        bottom: -40px;
        color: #bbb;
        font-weight: 400;
      }
      #testimonies .testimony .author {
        font-style: italic;
        text-align: left;
        color: #666;
      }
