#tips {

}

  #tips section {
    background: #2e2e9b;
    margin: 20px;
    padding: 20px;
    color: #fff;
  }

    #tips section p {
      padding: 8px 0;
    }

    #tips section h2 {
      line-height: 2em;
    }
