@import url('~/post');

/* Global */

GridLayout.main {
  background-color: #e5e6e7;
  font-family: "OpenSans-Light";
}

TextView {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

GridLayout.list {
  padding: 10px 10px 0 10px;
}

/* Post */

StackLayout.news {
  background-color: red;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin: 0 0 50px 0;
}

/* Infos */

GridLayout.infos {
  padding: 10px 10px 0px 10px;
  background-color: #bd1347;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #bd1347;
  color: #fff;
}

Label.info-icon {
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
}

Label.author {
  font-size: 18px;
  padding: 0 0 5px 20px;
  vertical-align: middle;
}

Label.date {
  font-size: 12px;
  text-align: right;
  padding: 0 5px 0 0;
}

Button.action {
  padding: 0;
  margin: 0;
  width: 50px;
  font-size: 18px;
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
}

/* Post content */

TextView.message {
  padding: 15px 10px 20px 10px;
  line-height: 200px;
  color: #555;
}

Image {
  border-radius: 3px;
}

/* Comments */

Label.comments {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

StackLayout.last-comment {
  padding: 0 10px 10px 10px;
}

Label.last-comment {
  padding: 5px 0 0 0;
  text-align: center;
}

Label.last-comment-author {
  text-align: right;
}

TextView.last-comment-message {
  text-align: right;
}