/* Form new testimony */

StackLayout#testimonies TextView.new-testimony {
  background-color: #fff;
  padding: 10px;
  height: 100px;
  margin: 10px 0 25px 0;
  vertical-align: middle;
  border-radius: 10px;
}

StackLayout#testimonies Button.submit {
  vertical-align: middle;
  margin: 10px 0 25px 0;
  background-color: transparent;
  border-color: transparent;
  font-size: 50px;
  color: #555;
}

StackLayout#testimonies Label.connect {
  text-align: center;
  padding: 0 10px 10px 10px;
}

/* Testimony */

StackLayout#testimonies StackLayout.testimony {
  border-radius: 10px;
  background-color: #fff;
  margin: 30px 0 50px 0;
}

StackLayout#testimonies TextView.testimony-message {
  padding: 10px 10px 20px 10px;
}

/* Testimony infos */

StackLayout#testimonies GridLayout.infos {
  padding: 10px 10px 0px 10px;
  background-color: #fffb00;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #fffb00;
  color: #555;
}

StackLayout#testimonies Label.info-icon {
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
}

StackLayout#testimonies Label.author {
  font-size: 16px;
  padding: 0 0 5px 20px;
  vertical-align: middle;
}

StackLayout#testimonies Image.author-image {
  vertical-align: middle;
  text-align: center;
  width: 100px;
  border-radius: 50px;
}

StackLayout#testimonies Label.date {
  font-size: 12px;
  text-align: right;
  padding: 0 5px 0 0;
  color: #999;
}

StackLayout#testimonies Button.action {
  padding: 0;
  margin: 0;
  width: 70px;
  font-size: 21px;
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
}

/* Global */

StackLayout#testimonies TextView {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
}