StackLayout.main {
  background-color: #e5e6e7;
  font-family: "OpenSans-Light";
  padding: 10px;
}

StackLayout.post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin: 0 0 20px 0;
}

TextView.new-comment {
  background-color: #fff;
  padding: 10px;
  height: 100px;
  margin: 10px 0 25px 0;
  vertical-align: middle;
  border-radius: 10px;
}

Button.submit {
  vertical-align: middle;
  margin: 10px 0 25px 0;
  background-color: transparent;
  border-color: transparent;
  font-size: 50px;
  color: #329597;
}

Label.connect {
  text-align: center;
  padding: 0 10px 10px 10px;
}

StackLayout.comment {
  background-color: #fff;
  margin: 5px 0;
  border-radius: 10px;
}

/* Comment */

GridLayout.infos-comment {
  padding: 10px 10px 0px 10px;
  background-color: #329597;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #329597;
  color: #fff;
  text-align: right;
}

Label.info-icon-comment {
  font-size: 35px;
  vertical-align: middle;
  text-align: right;
}

Label.author-comment {
  font-size: 15px;
  padding: 0 20px 5px 0;
  vertical-align: middle;
  text-align: right;
}

TextView.comment-message {
  padding: 15px 10px 20px 10px;
  color: #555;
  text-align: right;
}

/* Post */

TextView.message {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

Label.title {
  font-size: 20px;
  font-family: "BebasNeue Regular";
  padding: 10px 0;
}

GridLayout.infos {
  padding: 10px 10px 0px 10px;
  background-color: #bd1347;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #bd1347;
  color: #fff;
}

Label.info-icon {
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
}

Label.author {
  font-size: 16px;
  padding: 0 0 5px 20px;
  vertical-align: middle;
}

Label.date {
  font-size: 12px;
  text-align: right;
  padding: 0 5px 0 0;
}

Label.comments {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

TextView {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

TextView.message {
  padding: 15px 10px 20px 10px;
  line-height: 200px;
  color: #555;
}

Image {
  border-radius: 3px;
}