<template name="countdown">
  <div class="countdown">

    <div class="clock">
        <canvas id="canvas" width="400px" height="400px"></canvas>

        <div class="clock-content">
          <div class="text">
              <p>La RJ revient bientôt</p>
              <span>Plus que quelques dodos...</span>
          </div><!--/text-->

          <div class="timer">
              <p><span class="days">0</span> jours <span class="hrs">0</span> heures <span class="mins">0</span> minutes et <span class="secs">0</span> secondes</p>
          </div>
        </div>
    </div>
  </div>

</template>
