<template name="post">
  <div id="post">

    <div class="userpost shy">
      <div>
        <a href="{{ user.image.url }}" target="_blank">
          <img src="{{ user.image.url store='thumbs' }}" alt="">
        </a>
      </div>
      {{ username }} - {{ date }}
    </div>
    <div class="message">
      <p class="txt">{{ message }}</p>
      {{ #if currentUser.isAdmin }}<p class="delete shy"><a class="delete-post">supprimer le post</a></p>{{/if}}
      {{#if image}}
        <a href="{{ image.url }}" target="_blank">
          <img src="{{ image.url }}" alt="">
        </a>
      {{/if}}
    </div>

  </div>
</template>
