<template name="post">
  <div id="post">

    {{ #if currentUser.isAdmin }}<button class="delete-post">&times;</button>{{/if}}
    <div class="userpost shy">
      {{ username }}<br>
      <div class="circular--landscape">
        <a href="{{ user.image.url }}" target="_blank">
          <img src="{{ user.image.url store='thumbs' }}" alt="">
        </a>
      </div>
    </div>
    <div>{{ date }}</div>
    <div class="message">
      <p class="txt">{{ message }}</p>
      {{#if image}}
        <a href="{{ image.url }}" target="_blank">
          <img src="{{ image.url }}" alt="">
        </a>
      {{/if}}
    </div>

  </div>
</template>
