@import url('~/post');

/* Global */

StackLayout.wrapper {
  background-color: #fff;
  font-family: "OpenSans-Light";
}

TextView {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

StackLayout.list {
  padding: 10px 10px 0 10px;
  background-color: #fff;
}

Button.refresh {
  background-color: transparent;
  color: #555;
  border-color: transparent;
  font-size: 20px;
  border-width: 1;
}

/* Post */

StackLayout.news {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin: 0 0 50px 0;
  border-color: #fffb00;
  border-width: 2px;
}

/* Infos */

GridLayout.infos {
  padding: 10px 10px 0px 10px;
  background-color: #fffb00;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #fffb00;
  color: #555;
}

Label.info-icon {
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
}

Image.author-image {
  vertical-align: middle;
  text-align: center;
  width: 100px;
  border-radius: 50px;
  margin: 20px 0;
}

Label.author {
  font-size: 18px;
  padding: 0 0 5px 20px;
  vertical-align: middle;
}

Label.date {
  font-size: 12px;
  text-align: right;
  padding: 0 5px 0 0;
}

Button.action {
  padding: 0;
  margin: 0;
  width: 50px;
  font-size: 18px;
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
}

/* Post content */

TextView.message {
  padding: 15px 10px 20px 10px;
  /* line-height: 200px; */
  color: #555;
}

Image {
  border-radius: 3px;
}

/* Comments */

Label.comments {
  text-align: center;
  font-size: 25px;
  padding: 40px;
}

Label.comments.text {
  font-size: 13px;
  padding: 13px 0 0 0;
}

StackLayout.last-comment {
  padding: 0 10px 10px 10px;
}

Label.last-comment {
  padding: 5px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: #777;
}

Label.last-comment-author {
  text-align: right;
  font-size: 12px;
  color: #777;
}

TextView.last-comment-message {
  text-align: right;
  font-size: 12px;
  color: #777;
}

Button.see-more {
  margin: 0 0 20px 0;
  background-color: #fffb00;
  color: #555;
  border-color: transparent;
}
