GridLayout.infos {
  padding: 10px 10px 0px 10px;
  background-color: #bd1347;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #bd1347;
  color: #fff;
}

Label.info-icon {
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
}

Label.author {
  font-size: 16px;
  padding: 0 0 5px 20px;
  vertical-align: middle;
}

Label.date {
  font-size: 12px;
  text-align: right;
  padding: 0 5px 0 0;
}

Label.comments {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

TextView {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

TextView.message {
  padding: 15px 10px 20px 10px;
  line-height: 200px;
  color: #555;
}

StackLayout.news {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin: 0 0 20px 0;
}

  Image {
    border-radius: 3px;
  }