<template name="ApplicationLayout">
  {{> flashMessages}}

  <div id="container">
    <header>
      <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

      <!-- Mobile compatibility -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">

    </header>

    <div id="content-container">
      {{> yield}}
      <footer class="shy">
        {{#unless currentUser}}
        <a href="/login">Login</a>
        {{else}}
        <a href="/profile">Profile</a>
        {{/unless}}
         | Application RJ 2017 - team communication
      </footer>
    </div>
  </div>

</template>
