<template name="ApplicationLayout">
  {{> flashMessages}}

  <div id="container">
    <header>
      {{#if currentUser}}
      <a href="/profile" {{attributes "/profile"}}>
        <img src="images/user.png">
        {{currentUser.username}}
      </a>{{/if}}
      <a href="/" {{attributes "/"}}>
        <img src="images/feed.png">
        Feed
      </a>
      <a href="/agenda" {{attributes "/agenda"}}>
        <img src="images/agenda.png">
        Programme
      </a>
      <a href="/tips" {{attributes "/tips"}}>
        <img src="images/tips.png">
        Tips
      </a>
      <a href="/map" {{attributes "/map"}}>
        <img src="images/map.png">
        Map
      </a>
      <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    </header>
    <div id="content-container">
      {{> yield}}
      <footer class="shy">Application RJ 2016 - team communication</footer>
    </div>
  </div>

</template>
