#plus Button {
  background-color: #fffb00;
  border-width: 0;
  border-color: transparent;
  color: rgb(73, 73, 73);
  padding: 20px;
  text-align: left;
  margin: 0;
  vertical-align: middle;
  font-size: 16px;
  /*text-transform: uppercase;*/
  margin: 0 0 5px 0;
}
