@import '~/app-variables';

Label.icon {
  text-align: center;
  font-size: 40px;
  padding: 20px 0 0 0;
}

TextField {
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  padding: 10px 15px;
}

Button.submit {
  background-color: $rj-color;
  border-color: $rj-color;
  color: #555;
  padding: 20px;
  margin: 10px;
}