#links Button {
  background-color: #bd1347;
  border-width: 0;
  border-color: transparent;
  color: #fff;
  padding: 20px;
  text-align: left;
  margin: 0;
  vertical-align: middle;
  font-size: 16px;
  /*text-transform: uppercase;*/
}
