.button {
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #9894f5;
  display: inline-block;
  width: 100%;
  border: 0;
  margin: 10px 0 10px 0;
}
