.countdown-wrapper {
	background-color: #fff;
	padding: 40px 0 60px 0;
}
.countdown {
	width:400px;
	height:400px;
	background-image:url(images/clock_bg.png);
	background-position:center;
	margin:0 auto;
	background-repeat:no-repeat;
  position: relative;
	z-index: 2;
}
	@media screen and (max-width: 399px) {
		.countdown {
			width: 300px !important;
			height: 300px !important;
			background-image:url(images/clock_bg_300.png) !important;
		}
		.clock-content {
			top: 50px !important;
			width: 200px !important;
		}
		.glow {
			background-image:url(images/clock_bg_glow_300.png) !important;
		}
	}

.glow {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:url(images/clock_bg_glow.png);
	background-position:center;
	background-repeat:no-repeat;
	z-index: 1;
}

.clock {
  position: relative;
}

.clock-content {
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 300px;
}

.text {

}

.text p {
	font-family: 'Libre Baskerville', serif;
	color:#000;
	font-size:1.5em;
	line-height:30px;
}

.text span {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#999;
	font-style:italic;
	line-height:30px;
	font-size:1.2em;
}

.timer {
	margin-top:20px;
}
.timer p {
	color:#616161;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.1em;
	text-align:center;
	font-style:italic;
}
.timer span {
	color:#000;
}
