.post {
  background: #fff;
  padding: 5px;
  margin: 35px 0;
}

  .post .userpost {
    text-align: center;
    margin-top: -30px;
  }
    .post .userpost img {
      border-radius: 50%;
      width: 70px;
      background: #fff;
      padding: 5px;
    }

  .post .message {

  }
    .post .message .txt {
      padding: 5px 0;
    }
    .post .message img {
      min-width: 100%;
      padding: 10px 0 0 0;
    }

  .post p.delete {
    text-align: right;
  }

  .post img {
    max-width: 100%;
  }
