#post {
  background: #fff;
  padding: 5px;
}

  #post .userpost {
    text-align: center;
  }
    #post .userpost img {
      border-radius: 50%;
      width: 64px;
    }

  #post .message {

  }
    #post .message .txt {
      padding: 5px 0;
    }
    #post .message img {
      min-width: 100%;
      padding: 10px 0 0 0;
    }
