Label.icon {
  text-align: center;
  font-size: 40px;
}

Button.submit {
  background-color: #fffb00;
  border-color: #fffb00;
  color: #555;
  padding: 20px;
  margin: 10px;
}

Button.link {
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  padding: 20px;
  margin: 0 10px;
}

TextField {
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  padding: 10px 15px;
}