StackLayout.main {
  background-color: #fff;
  font-family: "OpenSans-Light";
  padding: 10px;
}

StackLayout.post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin: 0 0 20px 0;
}

TextView.new-comment {
  background-color: #fff;
  padding: 10px;
  height: 100px;
  margin: 10px 0 25px 0;
  vertical-align: middle;
  border-radius: 10px;
}

Button.submit {
  vertical-align: middle;
  margin: 10px 0 25px 0;
  background-color: transparent;
  border-color: transparent;
  font-size: 50px;
  color: #555;
}

Label.connect {
  text-align: center;
  padding: 40px 0;
}

StackLayout.comment {
  background-color: #fff;
  margin: 5px 0;
  border-radius: 10px;
}

/* Comment */

GridLayout.infos-comment {
  padding: 10px 10px 0px 10px;
  background-color: #fffb00;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #fffb00;
  color: #555;
  text-align: right;
}

Label.info-icon-comment {
  font-size: 35px;
  vertical-align: middle;
  text-align: right;
}

Label.author-comment {
  font-size: 15px;
  padding: 0 20px 5px 0;
  vertical-align: middle;
  text-align: right;
}

TextView.comment-message {
  padding: 15px 10px 20px 10px;
  color: #555;
  text-align: right;
}

Button.action {
  padding: 0;
  margin: 0;
  width: 70px;
  font-size: 21px;
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
}

/* Post */

TextView.message {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 20px 0;
}

Label.title {
  font-size: 20px;
  font-family: "BebasNeue Regular";
  padding: 60px;
  text-align: center;
}

GridLayout.infos {
  padding: 20px;
  background-color: #fffb00;
  border-radius: 10px;
  border-width: 0 0 10px 0;
  border-color: #fffb00;
  color: rgb(73, 73, 73);
}

Label.info-icon {
  font-size: 40px;
  vertical-align: middle;
  text-align: left;
}

Image.author-image {
  vertical-align: middle;
  text-align: center;
  width: 100px;
  border-radius: 50px;
  margin-right: 40px;
}

Label.author {
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 5px;
}

Label.date {
  font-size: 12px;
  text-align: right;
  padding: 0 5px 0 0;
  color: #999;
}

Label.date-comment {
  font-size: 12px;
  text-align: left;
  padding: 0 5px 0 0;
  color: #999;
}

Label.comments {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

Image.author-image-comment {
  vertical-align: middle;
  text-align: center;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
}

TextView {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
}

TextView.message {
  padding: 15px 10px 20px 10px;
  color: #555;
}

Image {
  border-radius: 3px;
}