html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-weight: 100;
  background: #eee;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  overflow-y: scroll;
  max-width: 500px;
  margin: auto;
}

#content-container {
  padding-bottom: 50px;
}
